* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100;
    background-image: url(../images/books-1163695_1280.jpg);
    background-size: cover;
    color: #FFFFFF;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#header-container {
    position: relative;
    z-index: 1;
    display: flex;
}

#header-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -10;
    opacity: 1;
    pointer-events: none;
}

#logo #img {
    height: 100px;
    width: 220px;
    margin: 10px 0px 10px 20px;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.items {
    margin: 20px;
    font-size: larger;
    transition: font-weight 0.3s ease;
}

.items a {
    color: azure;
    text-decoration: none;
}

.items:hover {
    font-weight: bolder;
}

.head-home {
    margin: 2em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/random/1600x900/?technology');
    text-align: center;
}

#title h1 {
    margin: 180px 0px 0px 100px;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: white;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
    overflow: hidden;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 90%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 0);}
  to{border-right-color: transparent;}
}

#home-details p {
    opacity: 0;
    animation: fadeIn 3s ease-in;
    opacity: 1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#contact {
    display: grid;
    justify-content: end;
}

#contact button {
    position: sticky;
    bottom: 150px;
    right: 80px;
    margin: 0;
    background-color: chocolate;
    padding: 12px 35px;
    border: 2px solid chocolate;
    border-radius: 5px;
    font-size: large;
    color: azure;
}

#contact button:hover {
    cursor: pointer;
    background-color: rgb(160, 81, 25);
}

#contact a {
    margin-right: 2em;
    text-decoration: none;
    color: #f4f4f4;
}